{
  "openapi": "3.0.0",
  "info": {
    "title": "Worlds API",
    "version": "0.1.0",
    "description": "Data-plane API for Wazoo Worlds — search, SPARQL, import, export, and World lifecycle."
  },
  "servers": [
    {
      "url": "https://worlds-api.wazoo.dev",
      "description": "Worlds API"
    }
  ],
  "security": [
    {
      "bearerWorldsToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerWorldsToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "wzw",
        "description": "Worlds API data-plane token."
      }
    },
    "schemas": {
      "WorldResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "storage": {
            "type": "string",
            "enum": [
              "libsql-per-world",
              "legacy-shared-libsql"
            ],
            "description": "Storage backend for the world. libsql-per-world provisions a dedicated per-world Turso/LibSQL database; legacy-shared-libsql points at a shared legacy store."
          },
          "embeddingModel": {
            "type": "string"
          },
          "chunkSize": {
            "type": "integer"
          },
          "topK": {
            "type": "integer"
          },
          "minScore": {
            "type": "number"
          },
          "createTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string"
          },
          "deleteTime": {
            "type": "string"
          },
          "expireTime": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "uid",
          "displayName",
          "state",
          "storage",
          "embeddingModel",
          "chunkSize",
          "topK",
          "minScore",
          "createTime",
          "updateTime"
        ]
      },
      "CreateWorldRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "embeddingModel": {
            "type": "string"
          },
          "chunkSize": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "topK": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "minScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "UpdateWorldRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "embeddingModel": {
            "type": "string"
          },
          "chunkSize": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "topK": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "minScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "ImportResponse": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "object",
            "properties": {
              "quads": {
                "type": "integer"
              },
              "chunks": {
                "type": "integer"
              }
            },
            "required": [
              "quads",
              "chunks"
            ]
          }
        },
        "required": [
          "imported"
        ]
      },
      "ImportRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "minLength": 1
          },
          "contentType": {
            "type": "string",
            "default": "text/turtle"
          }
        },
        "required": [
          "data"
        ]
      },
      "ExportQuadsResponse": {
        "type": "object",
        "properties": {
          "quads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Quad"
            }
          },
          "nextOffset": {
            "type": "integer"
          }
        },
        "required": [
          "quads"
        ]
      },
      "Quad": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "predicate": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "graph": {
            "type": "string"
          }
        },
        "required": [
          "subject",
          "predicate",
          "object"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "predicate": {
            "type": "string"
          },
          "graph": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        },
        "required": [
          "subject",
          "predicate"
        ]
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "default": 20
          },
          "topK": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "minScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": [
          "query"
        ]
      },
      "SparqlRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "query"
        ]
      },
      "ApiKeyCreateResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "worldId": {
            "type": "string",
            "nullable": true
          },
          "createTime": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "token",
          "name",
          "namespace",
          "worldId",
          "createTime"
        ]
      },
      "ApiKeyCreateRequest": {
        "type": "object",
        "properties": {
          "namespace": {
            "type": "string",
            "minLength": 1
          },
          "worldId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "data:read",
                "data:write"
              ]
            },
            "description": "Optional scope grant. Defaults to [\"data:read\", \"data:write\"]. Use [\"data:read\"] for read-only keys."
          }
        },
        "required": [
          "namespace"
        ]
      },
      "ApiKeyResource": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "worldId": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "name",
          "namespace",
          "scopes",
          "createTime"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "tags": [
          "Health"
        ],
        "operationId": "getHealth",
        "summary": "Get health",
        "x-mint": {
          "metadata": {
            "title": "Get health"
          }
        },
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service is degraded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "degraded"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds": {
      "get": {
        "tags": [
          "Worlds"
        ],
        "operationId": "listWorlds",
        "summary": "List worlds",
        "x-mint": {
          "metadata": {
            "title": "List worlds"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "World list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "worlds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorldResource"
                      }
                    }
                  },
                  "required": [
                    "worlds"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "createWorld",
        "summary": "Create world",
        "x-mint": {
          "metadata": {
            "title": "Create world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Organization database limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Provisioning failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}": {
      "get": {
        "tags": [
          "Worlds"
        ],
        "operationId": "getWorld",
        "summary": "Get world",
        "x-mint": {
          "metadata": {
            "title": "Get world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Worlds"
        ],
        "operationId": "updateWorld",
        "summary": "Update world",
        "x-mint": {
          "metadata": {
            "title": "Update world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Worlds"
        ],
        "operationId": "deleteWorld",
        "summary": "Delete world",
        "x-mint": {
          "metadata": {
            "title": "Delete world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/undelete": {
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "undeleteWorld",
        "summary": "Undelete world",
        "x-mint": {
          "metadata": {
            "title": "Undelete world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Restore blocked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/suspend": {
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "suspendWorld",
        "summary": "Suspend world",
        "x-mint": {
          "metadata": {
            "title": "Suspend world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Suspended World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/resume": {
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "resumeWorld",
        "summary": "Resume world",
        "x-mint": {
          "metadata": {
            "title": "Resume world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldResource"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/namespaces/{namespace}/delete": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "deleteNamespaceWorlds",
        "summary": "Mark all worlds for a namespace deleted (account deletion)",
        "x-mint": {
          "metadata": {
            "title": "Delete namespace worlds"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "namespace",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deletedWorlds": {
                      "type": "integer"
                    },
                    "revokedKeys": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "deletedWorlds",
                    "revokedKeys"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge": {
      "post": {
        "tags": [
          "Admin"
        ],
        "operationId": "purgeWorlds",
        "summary": "Run purge sweep on demand",
        "x-mint": {
          "metadata": {
            "title": "Run purge sweep on demand"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Purge sweep result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "purged": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "purged",
                    "failed"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/import": {
      "post": {
        "tags": [
          "ImportExport"
        ],
        "operationId": "importWorld",
        "summary": "Import graph data",
        "x-mint": {
          "metadata": {
            "title": "Import graph data"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/export": {
      "get": {
        "tags": [
          "ImportExport"
        ],
        "operationId": "exportWorld",
        "summary": "Export graph data",
        "x-mint": {
          "metadata": {
            "title": "Export graph data"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": false,
            "name": "format",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Export result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportQuadsResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "nullable": true
                }
              },
              "application/n-quads": {
                "schema": {
                  "nullable": true
                }
              },
              "application/n-triples": {
                "schema": {
                  "nullable": true
                }
              },
              "text/turtle": {
                "schema": {
                  "nullable": true
                }
              },
              "application/trig": {
                "schema": {
                  "nullable": true
                }
              },
              "application/ld+json": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "searchWorld",
        "summary": "Search world",
        "x-mint": {
          "metadata": {
            "title": "Search world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    },
                    "mode": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/sparql": {
      "post": {
        "tags": [
          "SPARQL"
        ],
        "operationId": "sparqlNoWorld",
        "summary": "SPARQL without world",
        "x-mint": {
          "metadata": {
            "title": "SPARQL without world"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "responses": {
          "400": {
            "description": "Must specify a World",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/sparql": {
      "post": {
        "tags": [
          "SPARQL"
        ],
        "operationId": "sparqlWorld",
        "summary": "Execute SPARQL query",
        "x-mint": {
          "metadata": {
            "title": "Execute SPARQL query"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SparqlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SPARQL query result",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "tags": [
          "APIKeys"
        ],
        "operationId": "createApiKey",
        "summary": "Create API key",
        "x-mint": {
          "metadata": {
            "title": "Create API key"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "APIKeys"
        ],
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "x-mint": {
          "metadata": {
            "title": "List API keys"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "namespace",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "API keys list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyResource"
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{keyId}": {
      "delete": {
        "tags": [
          "APIKeys"
        ],
        "operationId": "deleteApiKey",
        "summary": "Revoke API key",
        "x-mint": {
          "metadata": {
            "title": "Revoke API key"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/worlds/{id}/reindex": {
      "post": {
        "tags": [
          "Reindex"
        ],
        "operationId": "reindexWorld",
        "summary": "Reindex world vector & FTS indexes",
        "x-mint": {
          "metadata": {
            "title": "Reindex world vector & FTS indexes"
          }
        },
        "security": [
          {
            "bearerWorldsToken": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The canonical world_uid, e.g. w_<uuid>."
            },
            "required": true,
            "description": "The canonical world_uid, e.g. w_<uuid>.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Reindex initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "World database not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
